a {
  text-decoration: none;
}

/* .logo {
  width: 120px;
  height: 80px;
  object-fit: cover;
} */

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-size: 18px;
  display: flex;
  gap: 18px;
}

.nav-links > li > a {
  color: #E5E7EB;
}

.intro {
  display: flex;
  gap: 10%;
  margin-top: 10%;
}

.intro-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.intro-left > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.intro-left > p {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  height: 32px;
  width: 120px;
  font-weight: bold;
}

.intro > img {
  width: 50%;
}

#header {
  background-color: #1F2937;
  padding: 2% 15% 10% 15%;
}

#info {
  padding: 5% 15% 10% 15%;
}

#info > h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin-bottom: 5%;
}

.info-pics {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.info-pics > div > img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid;
  border-color: #3882F6;
  border-radius: 10px;

}

.info-pics > div {
  text-align: center;
}

.info-pics > div > p {
  width: 156px;
}

#testimonial {
 background-color: #E5E7EB; 
 padding: 10% 15% 10% 15%;
 display: flex;
 flex-direction: column;
}

#testimonial > em {
  font-size: 36px;
  color: #1F2937;
  font-weight: 200;
  font-style: italic;
}

#testimonial > strong {
  align-self: flex-end;
  font-weight: bold;
}

#call-to-action {
  margin: 10% 15%;
}

.action-box {
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  padding: 5% 10%;
  gap: 10%;
  border-radius: 10px;
  color: white;
}

.action-box > button {
  border-color: white;
  align-self: center;
}

.action-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.action-text > h4 {
  font-weight: bold;
  font-size: 22px;
}

.action-text > p {
  color: #E5E7EB;
}

footer {
  background-color: #1F2937;
}

footer > p {
  color: #E5E7EB;
  text-align: center;
  padding: 25px;
  font-size: 12px;
}