a {
  text-decoration: none;
}

/* .logo {
  width: 120px;
  height: 80px;
  object-fit: cover;
} */

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-size: 18px;
  display: flex;
  gap: 18px;
}

.nav-links > li > a {
  color: #E5E7EB;
}

.intro {
  display: flex;
  gap: 10%;
  margin-top: 10%;
}

.intro-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.intro-left > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.intro-left > p {
  font-size: 18px;
  color: #E5E7EB;
}

.intro-left > button {
  background-color: #3882F6;
  color: white;
  border-radius: 10px;
  height: 32px;
  width: 120px;
  font-weight: bold;
}

.intro > img {
  width: 50%;
}

#header {
  background-color: #1F2937;
  padding: 2% 15% 10% 15%;
}

