a {
  text-decoration: none;
}

.logo {
  width: 120px;
  height: 120px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  font-size: 18px;
  display: flex;
  gap: 18px;
}

.nav-links > li > a {
  color: #E5E7EB;
}

#header {
  background-color: #1F2937;
  padding: 0 10% 10% 10%;
}

